.title{
    background-color: rgb(176, 255, 131);
    font-weight: bolder;
}

.password-cont{
    border: 1px solid #555;
}

.password-cont input{
    width:100%;
    border:none;
    color: rgb(0, 43, 22);
    font-weight: bolder;
}

.options-content{
    box-shadow: 0px 1px 6px #888;
    border-radius: 0.2rem;
}