<div class="row">
    <div class="col col-sm-8 offset-sm-4 col-lg-6 offset-lg-3 col-xxl-4 offset-xxl-4">

        <div class="row mt-5">
            <div class="col text-center">
                <h2 class="title p-2">Generador de Contraseñas</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col mb-5">
                <p>Puede crear una nueva contraseña segura en 2 pasos, con nuestra herramienta On-line,
                <ol>
                    <li>Complete el formulario eligiendo sus <b>preferencias de generación de contraseña</b>.</li>
                    <li>Presione el <b>botón verde</b>, puede copiar la contraseña con el <b>botón azul</b> o bien manualmente a partir del campo de texto.</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col m-3">
                <div class="row mb-4">

                    <div class="col password-cont p-0">
                        <input class="p-2" id="passCont" value="{{password}}" placeholder="*************"  />
                    </div>
                    <div class="col-auto p-2">
                        <button type="button" (click)="copyToClipboard()" class="btn btn-primary">
                            <i-bs name="clipboard"></i-bs></button>

                        <button type="button" (click)="generatePassword()" class="btn btn-success">
                            <i-bs name="arrow-clockwise"></i-bs>
                        </button>
                    </div>
                </div>

                <div class="row options-content">
                    <div class="col">
                        <div class="row">
                            <div class="col text-center">
                                <h4 class="p-2">Opciones de generación Contraseña</h4>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                <label for="longInput" class="form-label">Longitud</label>
                                <input  [(ngModel)]="passwordOptions.long" type="number" min="0" class="form-control" id="longInput" placeholder="25">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                <div class="form-check">
                                    <input [(ngModel)]="passwordOptions.mayus" class="form-check-input" type="checkbox" value="" id="mayusInput" checked>
                                    <label class="form-check-label" for="mayusInput">
                                      Mayúsculas
                                    </label>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 mb-2">
                                <div class="form-check">
                                    <input [(ngModel)]="passwordOptions.minus" class="form-check-input" type="checkbox" value="" id="minusInput" checked>
                                    <label class="form-check-label" for="minusInput">
                                      Minusculas
                                    </label>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 mb-2">
                                <div class="form-check">
                                    <input [(ngModel)]="passwordOptions.symbol" class="form-check-input" type="checkbox" value="" id="simbolInput" checked>
                                    <label class="form-check-label" for="simbolInput">
                                      Símbolos
                                    </label>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 mb-2">
                                <div class="form-check">
                                    <input [(ngModel)]="passwordOptions.numbers" class="form-check-input" type="checkbox" value="" id="numberInput" checked>
                                    <label class="form-check-label" for="numberInput">
                                      Números
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        Puede reportar un error usando el <a href="https://clientes.greenborn.com.ar/#/reportar-error/2" target="_blank">sistema de reporte de errores</a>.
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>
