<div class="row min-vh-100" style="background:#888">
    <div class="col col-sm-8 offset-sm-4 col-lg-6 offset-lg-3 col-xxl-4 offset-xxl-4" style="background:#FFF">

        <div class="row">
            <div class="col p-0 text-center">
                <h2 class="title p-2">Generador de Contraseñas</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <p>Puede crear una nueva contraseña segura en 2 pasos, con nuestra herramienta On-line,
                <ol>
                    <li>Complete el formulario eligiendo sus <b>preferencias de generación de contraseña</b>.</li>
                    <li>Presione el <b>botón verde</b>, puede copiar la contraseña con el <b>botón azul</b> o bien manualmente a partir del campo de texto.</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col mr-3 ml-3">
                <div class="row mb-2">

                    <div class="col password-cont p-0">
                        <input class="p-2" id="passCont" value="{{password}}" placeholder="*************"  />
                    </div>
                    <div class="col-auto p-2">
                        <button type="button" (click)="copyToClipboard()" class="btn btn-primary">
                            <i-bs name="clipboard"></i-bs></button>

                        <button type="button" (click)="generatePassword()" class="btn btn-success ml-1">
                            <i-bs name="arrow-clockwise"></i-bs>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-8 offset-sm-4 col-lg-6 offset-lg-3 col-xxl-4 offset-xxl-4" style="background:#FFF">    
        <div class="row">
            <div class="col mr-3 ml-3">
                
                <div class="row options-content">
                    <div class="col">
                        <div class="row">
                            <div class="col text-center">
                                <h4 class="p-2">Opciones de generación Contraseña</h4>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                <label for="longInput" class="form-label">Longitud  (en caracteres / palabras)</label>
                                <input  [(ngModel)]="passwordOptions.long" type="number" min="0" class="form-control" id="longInput" placeholder="25">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2" *ngFor="let passPart of passwordOptions.passwordParts">
                                <div class="form-check">
                                    <input [(ngModel)]="passPart.enabled" class="form-check-input" type="checkbox" value="" id="{{passPart.name}}" checked>
                                    <label class="form-check-label" for="{{passPart.name}}">
                                      {{passPart.label}}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2 mb-3" *ngIf="!opciones_avanzadas">
                            <div class="col">
                                <button type="button" class="btn btn-primary" (click)="opciones_avanzadasTG()">{{opciones_avanzadas_btnText}}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- OPCIONES AVANZADAS -->
                <div class="row options-content mt-2" *ngIf="opciones_avanzadas">
                    <div class="col">
                        <div class="row">
                            <div class="col text-center">
                                <h4 class="p-2">Avanzadas</h4>
                                <p></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2" *ngFor="let extra_opts of passwordOptions.passwordParts">
                                <div *ngIf="extra_opts.advancedOpts">
                                    <label for="exampleFormControlInput1" class="form-label">{{extra_opts.label}} disponibles</label>
                                    <input type="text" class="form-control" [(ngModel)]="extra_opts.options" />
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2 mb-3">
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary"  (click)="opciones_avanzadasTG()">{{opciones_avanzadas_btnText}}</button>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary" (click)="resetearOpciones()">Reestablecer opciones</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        Puede reportar un error usando el <a href="https://clientes.greenborn.com.ar/#/reportar-error/2" target="_blank">sistema de reporte de errores</a>.
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>
